.schedule{
	width: 900px;
	border: 4px solid green;
	margin: 0 auto;
}

td{
	width: 128px;
}

.weekdays{
	background-color: darkgreen;
}

.lessons{
	color: black;
	background-color: darkseagreen;
	text-align: center;
	height: 125px;
}